# Python bytecode / caches
__pycache__/
*.py[cod]

# Virtual env
venv/

# Jupyter checkpoints & notebooks
.ipynb_checkpoints/
*.ipynb

# FAISS indexes
*.faiss

# Editor/project files
.vscode/
.DS_Store

# Env files
.env

# Nomic cache
.nomic/

# Data files (all CSVs)
*.csv

# Other generated artifacts
.virtual_documents/
src/ai_agents.egg-info/

